{% extends 'partial/base.html' %}

{% block title %} Module Mapping {% endblock %}

{% block content %} 




<!-- Content -->
<div class="container">
    <div class="content-wrapper">
        <!-- Content -->
        <div class="view-coordinator mod_map_list">
            <ul class="breadcrumb  d-flex">
                <li><a href="#">Resource</a></li>
                <li><a href="#">Module Mapping</a></li>
              </ul>
            <div class="">
                <div class="row">    
                    {% for response in responses %}

                    <a href='{{ url_for("sur_fil_mod_map", surid=response["survey_pri_id"]) }}' style="width: fit-content">
                        <!-- <button class="d-none" name={{response.survey_pri_id}} onclick="question(name);"> -->
                        <!-- <button class="" type="submit" name={{ response.survey_name }} > -->

                            <div class=" col-4" >
                            
                                <div class="survey  mt-5 mb-3" id="survey" >
                                <!-- <div class="row"> -->
                                    <div class=" ">
                                        <div class="p-2">
                                            <!-- <button type="button" class="btn-light" style="border: 0;" data-bs-toggle="modal" data-bs-target="#questions" > -->
                                                <div class="card mod_map_list_card" style="width: 18rem; height: 8em; border-radius: 20px;">
                                                    {% if response.active == "yes" %}
                                                        <img src="{{ url_for('static', filename='assets/img/icons/active.svg')}}"/>
                                                        {%else%}
                                                        <img src="{{ url_for('static', filename='assets/img/icons/inactive.svg')}}"/>
                                                    {%endif%}
                                                    <div class="card-body d-flex justify-content-center align-items-center">
                                                    <!-- <input type="text" class="" id="sur_name" value={{response.survey_pri_id}} > -->
                                                    
                                                    <h5 class="card-title text-center m-0" id="survey_name">{{response.survey_name}}</h5>
                                                    <!-- <h5 class="card-title text-center m-0" id="ssname">{{response.survey_pri_id}}</h5> -->
                                                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                                    </div>
                                                </div>
                                            <!-- </button> -->
                                        </div>
                                    </div>
                                <!-- </div> -->
                                </div>

                            </div>
                        <!-- </button> -->
                        <!-- </button> -->
                    </a>
                    {% endfor %}
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Add New Survey</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                        <form id="addLocation"  >
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">Survey Name</label>
                                        <input type="text" id="panjayat" class="form-control"
                                        placeholder="Panjayat" />
                                    </div>
                                    <span id="nameError" class="pt-2 text-danger"></span>

                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">SHG</label>
                                        <input type="text" id="shg" class="form-control" placeholder="SHG"/>
                                    </div>
                                </div>
                            </div> 

                            <div class="text-center mb-3 pb-1">
                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" onclick="addSurvey(); closeModal();">Submit</button>
                            </a>
                            </div>

                        

                        </form>                     
                        </div>
                    </div>
                    </div>
                </div>
    <!-- Modal END-->
            </div>
        </div>
    </div>
</div>


{% endblock %}