{% extends 'partial/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<style>
    #loader{
    min-height: 100vh;
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif") no-repeat center center rgba(0,0,0,0.25)
}
</style>
<script>

    function enrollment_completed() {
        document.getElementById("enroll_completed_data").style.display = "block"
        document.getElementById("all_data").style.display = "none"
        document.getElementById("enroll_pending_data").style.display = "none"
        document.getElementById("enrollment_completed_text").style.color = "#4EBDEC"
        document.getElementById("enrollment_completed_num").style.color = "#4EBDEC"

        document.getElementById("enrollment_pending_text").style.color = "#414040"
        document.getElementById("enrollment_pending_num").style.color = "#414040"

        document.getElementById("enrollment_total_text").style.color = "#414040"
        document.getElementById("enrollment_total_num").style.color = "#414040"
    }

    function enrollment_pending() {
        document.getElementById("enroll_pending_data").style.display = "block"
        document.getElementById("all_data").style.display = "none"
        document.getElementById("enroll_completed_data").style.display = "none"
        document.getElementById("enrollment_pending_text").style.color = "#4EBDEC"
        document.getElementById("enrollment_pending_num").style.color = "#4EBDEC"

        document.getElementById("enrollment_completed_text").style.color = "#414040"
        document.getElementById("enrollment_completed_num").style.color = "#414040"

        document.getElementById("enrollment_total_text").style.color = "#414040"
        document.getElementById("enrollment_total_num").style.color = "#414040"

    }

    function enrollment_total() {
        document.getElementById("all_data").style.display = "block"
        document.getElementById("enroll_pending_data").style.display = "none"
        document.getElementById("enroll_completed_data").style.display = "none"
        document.getElementById("enrollment_total_text").style.color = "#4EBDEC"
        document.getElementById("enrollment_total_num").style.color = "#4EBDEC"

        document.getElementById("enrollment_pending_text").style.color = "#414040"
        document.getElementById("enrollment_pending_num").style.color = "#414040"

        document.getElementById("enrollment_completed_text").style.color = "#414040"
        document.getElementById("enrollment_completed_num").style.color = "#414040"
    }

</script>

<div class="container mt-5">
    <div id="loader" class="loader" style="display: block;"></div>

    <ul class="breadcrumb roles_breadcrumb d-flex">
        <li><a href="#">Dashboard</a></li>
    </ul>

    <div class=" ">
        <!-- <div class="row"> -->
        <div class="d-flex">

            <div class="col-3">
                <div class="card dashboard_top_card">
                    <div class="card-body p-3">
                        <div class="d-flex text-center justify-content-center p-0">
                            <h5 class="card-title card-header text-center p-1"><strong>Enrollment status</strong></h5>
                        </div>
                        <div class="row">
                            <div class="d-flex p-2 mt-2">
                                <div class="col-5">
                                    <div class="flex-column" onclick="enrollment_completed()" style="cursor: pointer;">
                                        <p class="role-loc-sub" id="enrollment_completed_text">Completed</p>
                                        <p class="role-loc-sub" id="enrollment_completed_num">{{enroll_status.completed}}</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="flex-column" onclick="enrollment_pending()" style="cursor: pointer;">
                                        <p class="role-loc-sub" id="enrollment_pending_text">Pending</p>
                                        <p class="role-loc-sub" id="enrollment_pending_num">{{enroll_status.pending}}</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="flex-column" onclick="enrollment_total()" style="cursor: pointer;">
                                        <p class="role-loc-sub" id="enrollment_total_text">Total</p>
                                        <p class="role-loc-sub" id="enrollment_total_num">{{enroll_status.total}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-3">
                <div class="card dashboard_top_card">
                    <div class="card-body p-3">
                        <div class="d-flex text-center justify-content-center p-0">
                            <h5 class="card-title card-header text-center p-1"><strong>Survey status</strong></h5>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center p-2 mt-2">
                                <div class="col-5">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Completed</p>
                                        <p class="role-loc-sub">{{survey_status.completed}}</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Pending</p>
                                        <p class="role-loc-sub">{{survey_status.pending}}</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Total</p>
                                        <p class="role-loc-sub">{{survey_status.total}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card dashboard_top_card">
                    <div class="card-body p-3">
                        <div class="d-flex text-center justify-content-center p-0">
                            <h5 class="card-title card-header text-center p-1"><strong>Priority status</strong></h5>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center p-2 mt-2">
                                <div class="col-4">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Low</p>
                                        <p class="role-loc-sub">{{priority_status.low}}</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Medium</p>
                                        <p class="role-loc-sub">{{priority_status.medium}}</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">High</p>
                                        <p class="role-loc-sub">{{priority_status.high}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card dashboard_top_card">
                    <div class="card-body p-3">
                        <div class="d-flex text-center justify-content-center p-0">
                            <h5 class="card-title card-header text-center p-1"><strong>Module status</strong></h5>
                        </div>
                        <div class="row">
                            <div class="d-flex p-2 mt-2">
                                <div class="col-5">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Completed</p>
                                        <p class="role-loc-sub">{{module_status.completed}}</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Pending</p>
                                        <p class="role-loc-sub">{{module_status.pending}}</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Total</p>
                                        <p class="role-loc-sub">{{module_status.total}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- </div> -->
    </div>

    <div class="dashboard_shg">
        <div class="card">
            <div class="row ">
                <div class="d-flex mt-3">
                    <div class="col-6">
                    </div>
                    <div class="col-6 px-3">
                        <select class="form-select" aria-label="Default select example">
                            {% for response in shg_list %}
                            <option value="{{response}}">{{response}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="dashboard_card_box mt-3">
                <div class="card p-3">
                    <div class="row ">
                        <div class="d-flex">
                            <div class="card-body"></div>
                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Part ID</strong>
                            </div>

                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Details</strong>
                            </div>

                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Enrollment status</strong>
                            </div>

                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Survey status</strong>
                            </div>

                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Module status</strong>
                            </div>

                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Referal status</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard_inner_card" id="all_data">
                {% for response in userlist %}
                <script>
                    document.getElementById("loader").style.display = "none"
                </script>
                <a href='{{ url_for("dashboard_participant", pkid=response) }}' style="width: fit-content">

                    <div class="card mt-4" id="dashboard_data">



                        <div class="row">

                            <div class="d-flex ">
                                <div class="card-body d-flex">

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub">{{responses[response].part_id}}</h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub">{{responses[response].full_name}}</h5>
                                            <h5 class="dashboard_innercard_sub">{{responses[response].age}}</h5>
                                            <h5 class="dashboard_innercard_sub">{{responses[response].shg_associate}}
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="progress_container_enroll">

                                            {% set circle = responses[response].enroll_percentage|int * 3.6 %}
                                            <div class="circular_progress_enroll"
                                                style="background: conic-gradient(#f05d5d {{circle}}deg, #eeeded  0deg)">
                                                <span
                                                    class="progress_value_enroll">{{responses[response].enroll_percentage}}</span>
                                                <script
                                                    src="{{ url_for('static', filename = 'assets/js/dashboard.js')}}"></script>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="progress_container_survey">
                                            {% set circle = responses[response].survey_percentage|int * 3.6 %}
                                            <div class="circular_progress_survey"
                                                style="background: conic-gradient(#7c47fa {{circle}}deg, #eeeded  0deg)">
                                                <span
                                                    class="progress_value_survey">{{responses[response].survey_percentage}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub text-center">
                                                {{responses[response].module_status}}</h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub text-center">
                                                {{responses[response].refer_status}}</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- <hr/> -->
                </a>

                {% endfor %}

            </div>

            <div class="dashboard_inner_card" id="enroll_completed_data">
                {% for response in userlist %}
                {% if responses[response].enroll_completed == "yes" %}

                <a href='{{ url_for("dashboard_participant", pkid=response) }}' style="width: fit-content">

                    <div class="card mt-4" id="dashboard_data">



                        <div class="row">

                            <div class="d-flex ">
                                <div class="card-body d-flex">

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub">{{responses[response].part_id}}</h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub">{{responses[response].full_name}}</h5>
                                            <h5 class="dashboard_innercard_sub">{{responses[response].age}}</h5>
                                            <h5 class="dashboard_innercard_sub">{{responses[response].shg_associate}}
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="progress_container_enroll">

                                            {% set circle = responses[response].enroll_percentage|int * 3.6 %}
                                            <div class="circular_progress_enroll"
                                                style="background: conic-gradient(#f05d5d {{circle}}deg, #eeeded  0deg)">
                                                <span
                                                    class="progress_value_enroll">{{responses[response].enroll_percentage}}</span>
                                                <script
                                                    src="{{ url_for('static', filename = 'assets/js/dashboard.js')}}"></script>
                                            </div>
                                        </div>
                                    </div>





                                    <div class="col-2">
                                        <div class="progress_container_survey">
                                            {% set circle = responses[response].survey_percentage|int * 3.6 %}
                                            <div class="circular_progress_survey"
                                                style="background: conic-gradient(#7c47fa {{circle}}deg, #eeeded  0deg)">
                                                <span
                                                    class="progress_value_survey">{{responses[response].survey_percentage}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub text-center">
                                                {{responses[response].module_status}}</h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub text-center">
                                                {{responses[response].refer_status}}</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>






                        </div>

                    </div>
                    <!-- <hr/> -->
                </a>
                {% endif %}
                {% endfor %}

            </div>

            <div class="dashboard_inner_card" id="enroll_pending_data">
                {% for response in userlist %}
                {% if responses[response].enroll_pending == "yes" %}

                <a href='{{ url_for("dashboard_participant", pkid=response) }}' style="width: fit-content">

                    <div class="card mt-4" id="dashboard_data">



                        <div class="row">

                            <div class="d-flex ">
                                <div class="card-body d-flex">

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub">{{responses[response].part_id}}</h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub">{{responses[response].full_name}}</h5>
                                            <h5 class="dashboard_innercard_sub">{{responses[response].age}}</h5>
                                            <h5 class="dashboard_innercard_sub">{{responses[response].shg_associate}}
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="progress_container_enroll">

                                            {% set circle = responses[response].enroll_percentage|int * 3.6 %}
                                            <div class="circular_progress_enroll"
                                                style="background: conic-gradient(#f05d5d {{circle}}deg, #eeeded  0deg)">
                                                <span
                                                    class="progress_value_enroll">{{responses[response].enroll_percentage}}</span>
                                                <script
                                                    src="{{ url_for('static', filename = 'assets/js/dashboard.js')}}"></script>
                                            </div>
                                        </div>
                                    </div>





                                    <div class="col-2">
                                        <div class="progress_container_survey">
                                            {% set circle = responses[response].survey_percentage|int * 3.6 %}
                                            <div class="circular_progress_survey"
                                                style="background: conic-gradient(#7c47fa {{circle}}deg, #eeeded  0deg)">
                                                <span
                                                    class="progress_value_survey">{{responses[response].survey_percentage}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub text-center">
                                                {{responses[response].module_status}}</h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub text-center">
                                                {{responses[response].refer_status}}</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>






                        </div>

                    </div>
                    <!-- <hr/> -->
                </a>
  
                {% endif %}
                
                {% endfor %}

            </div>

        </div>
    </div>

    <!-- <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dojo/dojo.js" data-dojo-config="async: true"></script> -->
    <script src="{{ url_for('static', filename = 'assets/js/dashboard.js')}}"></script>

</div>



{% endblock %}