{% extends 'partial/base.html' %}

{% block title %} Participant Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <ul class="breadcrumb roles_breadcrumb d-flex">
        <li><a href="#">Dashboard</a></li>
    </ul>

    <div class="dashboard_shg">
        <div class="card">


            <div class="dashboard_inner_card mt-3">
                <div class="card">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="card-body d-flex">

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">{{responses.full_name}}</h5>
                                        <h5 class="dashboard_innercard_sub">{{responses.age}}</h5>
                                        <h5 class="dashboard_innercard_sub">{{responses.mobile_number}}</h5>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">{{responses.village_name}}</h5>
                                        <h5 class="dashboard_innercard_sub">{{responses.shg_associate}}</h5>
                                        <h5 class="dashboard_innercard_sub">{{responses.panchayat}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="card mt-4">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="card-body d-flex">

                                <div class="col-3">
                                    <div class="d-flex">
                                        <h5 class="dashboard_shg_card_header">Enrollment Status</h5>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Registration</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}"
                                            class="mx-auto" style="height: 30px; width:30px; margin: 0 auto;">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Socio Demography</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}"
                                            class="mx-auto" style="height: 30px; width:30px; margin: 0 auto;">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Disease Profile</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}"
                                            class="mx-auto" style="height: 30px; width:30px; margin: 0 auto;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="card-body d-flex">

                                <div class="col-3">
                                    <div class="d-flex">
                                        <h5 class="dashboard_shg_card_header">Survey Status</h5>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Sus</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/yellow_day.png')}}"
                                            class="mx-auto" style="height: 50px; width:50px; filter: brightness(150%);"><span class="days_number">10days</span>
                                        <h5 class="dashboard_innercard_sub pt-2">Filled by : Coordinator</h5>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Digital Literacy</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}"
                                            class="mx-auto" style="height: 30px; width:30px; margin: 0 auto;">
                                        <h5 class="dashboard_innercard_sub pt-2">Filled by : Coordinator</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="card-body d-flex">

                                <div class="col-3">
                                    <div class="d-flex">
                                        <h5 class="dashboard_shg_card_header">Module Status</h5>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Module 0</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}"
                                            class="mx-auto" style="height: 30px; width:30px; margin: 0 auto;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="card-body d-flex">

                                <div class="col-3">
                                    <div class="d-flex">
                                        <h5 class="dashboard_shg_card_header">Referal Status</h5>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">N/A</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
</div>





{% endblock %}