{% extends 'partial/base.html' %}

{% block title %} Participant Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <ul class="breadcrumb roles_breadcrumb d-flex">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="#">{{responses.full_name}}</a></li>
    </ul>

    <div class="dashboard_shg">
        <div class="card">
            <div class="dashboard_inner_card mt-3">
                <div class="card">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="card-body d-flex">

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">{{responses.full_name}}</h5>
                                        <h5 class="dashboard_innercard_sub">{{responses.age}}</h5>
                                        <h5 class="dashboard_innercard_sub">{{responses.mobile_number}}</h5>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">{{responses.village_name}}</h5>
                                        <h5 class="dashboard_innercard_sub">{{responses.shg_associate}}</h5>
                                        <h5 class="dashboard_innercard_sub">{{responses.panchayat}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="card mt-4">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="card-body d-flex">

                                <div class="col-3">
                                    <div class="d-flex">
                                        <h5 class="dashboard_shg_card_header">Enrollment Status</h5>
                                    </div>
                                </div>

                                {% if responses.enroll_percentage == "yes" %}
                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Registration</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}">                              
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Socio Demography</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}">                              
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Disease Profile</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}">                              
                                    </div>
                                </div>

                                {% elif responses.enroll_percentage == "33" %}
                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Registration</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}">                              
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Socio Demography</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/wrong.png')}}">                              
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Disease Profile</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/wrong.png')}}">                              
                                    </div>
                                </div>

                                {% elif responses.enroll_percentage == "66" %}

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Registration</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}">                              
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Socio Demography</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}">                              
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">Disease Profile</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/wrong.png')}}">                              
                                    </div>
                                </div>

                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4" style="overflow-x: scroll; overflow-y: hidden;">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="card-body d-flex">

                                <div class="col-3">
                                    <div class="d-flex">
                                        <h5 class="dashboard_shg_card_header">Survey Status</h5>
                                    </div>
                                </div>
                                {% if responses.survey_percentage == "0" %}
                                <h5 class="dashboard_innercard_sub">No survey is allowted as of now for you </h5>
                                {% else %}
                                {% if responses.priority_high_survey|length > 0 %}
                                {% for list in responses.priority_high_survey %}


                                <div class="col-3">
                                    <div class="flex-column ">
                                        <h5 class="dashboard_innercard_sub">{{list.survey_name}}</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/red_day.png')}}"
                                            class="mx-auto "
                                            style="height: 50px; width:50px; filter: brightness(150%);"><span
                                            class="days_number">{{list.days_remaining}}days</span>
                                        <h5 class="dashboard_innercard_sub pt-2">Filled by : {{list.filled_by}}</h5>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}

                                {% if responses.priority_medium_survey|length > 0 %}
                                {% for list in responses.priority_medium_survey %}


                                <div class="col-3">
                                    <div class="flex-column ">
                                        <h5 class="dashboard_innercard_sub">{{list.survey_name}}</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/yellow_day.png')}}"
                                            class="mx-auto "
                                            style="height: 50px; width:50px; filter: brightness(60%);"><span
                                            class="days_number">{{list.days_remaining}}days</span>
                                        <h5 class="dashboard_innercard_sub pt-2">Filled by : {{list.filled_by}}</h5>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}

                                {% if responses.priority_low_survey|length > 0 %}
                                {% for list in responses.priority_low_survey %}


                                <div class="col-3">
                                    <div class="flex-column ">
                                        <h5 class="dashboard_innercard_sub">{{list.survey_name}}</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/green_day.png')}}"
                                            class="mx-auto "
                                            style="height: 50px; width:50px; filter: brightness(70%);"><span
                                            class="days_number">{{list.days_remaining}}days</span>
                                        <h5 class="dashboard_innercard_sub pt-2">Filled by : {{list.filled_by}}</h5>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}

                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="card-body d-flex">

                                <div class="col-3">
                                    <div class="d-flex">
                                        <h5 class="dashboard_shg_card_header">Module Status</h5>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        {% if responses.module_status == "0%" %}
                                        <h5 class="dashboard_innercard_sub">No module allowted as of now for you</h5>
                                        {% else %}
                                        <h5 class="dashboard_innercard_sub">{{responses.module_status}}</h5>
                                        <img src="{{ url_for('static', filename='assets/img/icons/tick1.png')}}"
                                            class="mx-auto" style="height: 30px; width:30px; margin: 0 auto;">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="card-body d-flex">

                                <div class="col-3">
                                    <div class="d-flex">
                                        <h5 class="dashboard_shg_card_header">Referal Status</h5>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="flex-column">
                                        <h5 class="dashboard_innercard_sub">{{responses.refer_status}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
</div>





{% endblock %}