{% extends 'partial/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="container mt-5">
    <ul class="breadcrumb roles_breadcrumb d-flex">
        <li><a href="#">Dashboard</a></li>
    </ul>

    <div class=" ">
        <!-- <div class="row"> -->
        <div class="d-flex">
            <div class="col-3">
                <div class="card dashboard_top_card">
                    <div class="card-body p-3">
                        <div class="d-flex text-center justify-content-center p-0">
                            <h5 class="card-title card-header text-center p-1"><strong>Enrollment status</strong></h5>
                        </div>
                        <div class="row">
                            <div class="d-flex p-2 mt-2">
                                <div class="col-5">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Completed</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Pending</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Total</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card dashboard_top_card">
                    <div class="card-body p-3">
                        <div class="d-flex text-center justify-content-center p-0">
                            <h5 class="card-title card-header text-center p-1"><strong>Survey status</strong></h5>
                        </div>
                        <div class="row">
                            <div class="d-flex p-2 mt-2">
                                <div class="col-5">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Completed</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Pending</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Total</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card dashboard_top_card">
                    <div class="card-body p-3">
                        <div class="d-flex text-center justify-content-center p-0">
                            <h5 class="card-title card-header text-center p-1"><strong>Priority status</strong></h5>
                        </div>
                        <div class="row">
                            <div class="d-flex p-2 mt-2">
                                <div class="col-5">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Completed</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Pending</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Total</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card dashboard_top_card">
                    <div class="card-body p-3">
                        <div class="d-flex text-center justify-content-center p-0">
                            <h5 class="card-title card-header text-center p-1"><strong>Module status</strong></h5>
                        </div>
                        <div class="row">
                            <div class="d-flex p-2 mt-2">
                                <div class="col-5">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Completed</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Pending</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="flex-column">
                                        <p class="role-loc-sub">Total</p>
                                        <p class="role-loc-sub">5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- </div> -->
    </div>

    <div class="dashboard_shg">
        <div class="card">
            <div class="row ">
                <div class="d-flex mt-3">
                    <div class="col-6">

                    </div>
                    <div class="col-6 px-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>All SHGs</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="dashboard_card_box mt-3">
                <div class="card p-3">
                    <div class="row ">
                        <div class="d-flex">
                            <div class="card-body"></div>
                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Part ID</strong>
                            </div>

                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Details</strong>
                            </div>

                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Enrollment status</strong>
                            </div>

                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Survey status</strong>
                            </div>

                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Module status</strong>
                            </div>

                            <div class="col-2">
                                <strong class="dashboard_shg_card_header">Referal status</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard_inner_card mt-3">
                <a href="/dashboard_participant">
                    <div class="card">
                        <div class="row">
                            <div class="d-flex ">
                                <div class="card-body d-flex">
                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub">asvx12165</h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub">Amaravathi</h5>
                                            <h5 class="dashboard_innercard_sub">34</h5>
                                            <h5 class="dashboard_innercard_sub">Shri Anjaneya swami shg</h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="progress_container_enroll">
                                            <div class="circular_progress_enroll">
                                                <span class="progress_value_enroll"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="progress_container_survey">
                                            <div class="circular_progress_survey">
                                                <span class="progress_value_survey"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-2">
                                    <div class="progress_card">
                                        <div class="percent">
                                          <svg>
                                            <circle cx="40" cy="40" r="35"></circle>
                                            <circle cx="40" cy="40" r="35" style="--percent: 80"></circle>
                                          </svg>
                                          <div class="number">
                                            <h3>80 %<span></span></h3>
                                          </div>
                                        </div>
                                      </div>
                                </div>

                                <div class="col-2">
                                    <div class="progress_card">
                                        <div class="percent">
                                          <svg>
                                            <circle cx="40" cy="40" r="35"></circle>
                                            <circle cx="40" cy="40" r="35" style="--percent: 100"></circle>
                                          </svg>
                                          <div class="number">
                                            <h3>100 %<span></span></h3>
                                          </div>
                                        </div>
                                      </div>
                                </div> -->

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub text-center">100%</h5>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="flex-column">
                                            <h5 class="dashboard_innercard_sub text-center">N/A</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script>
        let circular_progress = document.querySelector(".circular_progress_enroll")
        let progress_value = document.querySelector(".progress_value_enroll")

        let progress_start_value = 0
        let progress_end_value = 80
        let speed = 20

        let progress = setInterval(() => {
            progress_start_value++;
            progress_value.textContent = `${progress_start_value}%`;
            circular_progress.style.background = `conic-gradient(#db6f30 ${progress_start_value * 3.6}deg, #e9e6e6  0deg)`;
            if (progress_start_value == progress_end_value) {
                clearInterval(progress)
            }
        }, speed)

        let circular_progress_survey = document.querySelector(".circular_progress_survey")
        let progress_value_survey = document.querySelector(".progress_value_survey")

        let progress_start_value_survey = 0
        let progress_end_value_survey = 50
        let speed_survey = 20

        let progress_survey = setInterval(() => {
            progress_start_value_survey++;
            progress_value_survey.textContent = `${progress_start_value_survey}%`;
            circular_progress_survey.style.background = `conic-gradient(blue ${progress_start_value_survey * 3.6}deg, #e9e6e6  0deg)`;
            if (progress_start_value_survey == progress_end_value_survey) {
                clearInterval(progress_survey)
            }
        }, speed_survey)

    </script>
</div>



{% endblock %}